@page {
  size: A4;
  margin: 0;
}
@media print {
  #header,
  .sub_visual,
  .utility_wrap,
  .btn_wrap {
    display: none;
  }
}

h1,
h2,
h3,
body,
p,
table,
tr,
td,
div {
  margin: 0px;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  height: 297mm;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  color: #111111;
  padding: 52px;
}

.heading {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 32px;
}

.squars-info {
  position: absolute;
  top: 100px;
  right: 52px;
  text-align: right;
  font-family: 'Roboto';
}

.squars-info p {
  padding-bottom: 2px;
}

h2 {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

h3 {
  font-weight: 700;
  font-size: 8px;
  line-height: 9px;
  padding-top: 12px;
  margin-bottom: 8px;
}

.line {
  border-bottom: 1px solid #cccccc;
  transform: scaleY(0.5);
}
.bill-to p {
  color: #333333;
  margin-bottom: 4px;
}

.tg .bill-to-1-table td {
  padding-right: 7px;
}
.tg .bill-to-2-table td {
  padding-right: 24px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  overflow: hidden;
  word-break: normal;
  padding-bottom: 4px;
}

.tg th {
  color: #666666;
  font-weight: normal;
  overflow: hidden;
  word-break: normal;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
  color: #666666;
}

.tg .tg-1 {
  color: #333333;
}

.tg .tg-3 {
  color: #111111;
  padding: 16px 0;
}
.tg .tg-4 {
  text-align: right;
  color: #111111;
  padding-bottom: 8px;
}
.tg .tg-5 {
  color: #666666;
  font-size: 8px;
  line-height: 9px;
  padding-bottom: 8px;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

footer {
  font-family: 'Roboto';
  line-height: 11px;
  color: #666666;
  position: absolute;
  bottom: 52px;
  left: 52px;
}

.tg .bold {
  color: #111111;
  font-weight: 700;
  padding-bottom: 8px;
}
.full {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.full thead {
  border-bottom: 1px solid rgb(153, 153, 153);
}

.full thead th {
  padding-bottom: 8px;
}
.subscription tr td {
  vertical-align: top;
}
.amount {
  margin-top: 16px;
  margin-left: 284px;
}

.amount .tg td:first-child {
  padding-right: 142px;
}

.full {
  width: 100%;
}

a {
  color: #333333;
}

.font-8 {
  font-size: 10px;
  transform: scale(0.8) translateX(-80px);
}

.tg .font-8 {
  font-size: 10px;
  transform: scale(0.8) translateX(-16px);
}

.squars-info .font-8 {
  font-size: 10px;
  transform: scale(0.8) translateX(24px);
}

.font-8-group {
  font-size: 10px;
  transform: scale(0.8) translateX(60px);
}
