@page {
  size: A4;
  margin: 52px;
}
@media print {
  #header,
  .sub_visual,
  .utility_wrap,
  .btn_wrap {
    display: none;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    page-break-after: auto;
    page-break-before: auto;
  }
}

/* CSS 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

body {
  position: relative;
  /* height: 297mm; */
  /* height: 193mm; */
  height: 100vh;
  overflow: hidden;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 8pt;
  line-height: 115%;
  color: #111111;
}

/* 서브 픽셀 해결 */
body {
  margin-top: -1px;
}

.heading {
  font-size: 28pt;
  font-weight: 400;
  line-height: 115%;
  padding-bottom: 32px;
}

.squars-info {
  position: absolute;
  top: 48px;
  right: 0;
  text-align: right;
  font-family: 'Roboto';
}

.squars-info p {
  padding-bottom: 2px;
}

h2 {
  font-size: 12pt;
  font-weight: 700;
  line-height: 115%;
}

h3 {
  font-weight: 700;
  font-size: 8pt;
  line-height: 115%;
  padding-top: 12px;
  margin-bottom: 8px;
}

.line {
  border-bottom: 1px solid #cccccc;
  transform: scaleY(0.5);
}
.bill-to p {
  color: #333333;
  margin-bottom: 4px;
}

.tg .bill-to-1-table td {
  padding-right: 7px;
}
.tg .bill-to-2-table td {
  padding-right: 24px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  overflow: hidden;
  word-break: normal;
  padding-bottom: 4px;
}

.tg th {
  color: #666666;
  font-weight: normal;
  overflow: hidden;
  word-break: normal;
}
.tg .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
  color: #666666;
}

.tg .tg-1 {
  color: #333333;
}

.tg .tg-3 {
  color: #111111;
  padding: 16px 0;
}
.tg .tg-4 {
  text-align: right;
  color: #111111;
  padding-bottom: 8px;
}
.tg .tg-5 {
  color: #666666;
  font-size: 8pt;
  line-height: 9px;
  padding-bottom: 8px;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

footer {
  font-family: 'Roboto';
  color: #666666;
  position: absolute;
  padding-bottom: 52px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tg .bold {
  color: #111111;
  font-weight: 700;
  padding-bottom: 8px;
}
.full-top {
  background: url('https://image.squars.io/bg/line.png') repeat-x top;
}
.full {
  background: url('https://image.squars.io/bg/line.png') repeat-x bottom;
}
.full thead {
  background: url('https://image.squars.io/bg/line.png') repeat-x bottom;
}

.full thead th {
  padding-bottom: 8px;
}
.subscription-wrapper {
  position: relative;
}
.subscription tr td {
  vertical-align: top;
}
.amount {
  position: absolute;
  margin-top: 16px;
  right: 0;
  font-size: 8pt;
}

.amount tr td:first-child {
  padding-right: 80pt;
}

.amount tr td:last-child {
  text-align: right;
}

.full {
  width: 100%;
}

a {
  color: #333333;
}

.font-8 {
  font-size: 10pt;
  line-height: 115%;
  transform: scale(0.8) translateX(-84px);
}

.tg .font-8 {
  font-size: 10pt;
  transform: scale(0.8) translateX(-16px);
}
